* {
    box-sizing: border-box;
}

.outerBlock {
    margin: auto;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
    position: relative;
     min-width: 342px;
}
.headingFont {
    font-family: 'Aclonica';
    font-size: 42px;
    margin: 0%;
}
.inputBlock {
    width: 40%;
    margin: 10px;
    font-family: 'Mina';
    font-size: 15px;
}
.iconStyle {
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 20%;
    min-width: 100px;
    margin-top: ;
    margin-right: ;
}
.outputBlock {
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    max-width: 78%;

}
.button {
    padding: 3px;
    margin-top: 1%;
    border-width: 3%;
    text-align: center;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%
}
.lootButtonFont {
    font-family: 'Aclonica';
    font-size: 22px;
}
